@import "tailwindcss";
@plugin "@iconify/tailwind4";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark\:bg-gray-900 {
  @media (prefers-color-scheme: light) {
      background-color: var(--color-gray-900);
  }
}

@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish/mulish-v17-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/mulish/mulish-v17-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/mulish/mulish-v17-latin-800.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins/poppins-v23-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins/poppins-v23-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins/poppins-v23-latin-700.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit/outfit-v14-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/outfit/outfit-v14-latin-500.woff2') format('woff2');
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

button, .btn {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

a, .link {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

li {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

/* Elementos especiales */
.label, input::placeholder, textarea::placeholder {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

blockquote {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: italic;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}